<div class="row mt-3 justify-content-center">
    <div class="col-12 col-md-8">
        <div class="alert alert-info">
            <input type="text" name="" value="" id="display" disabled>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="C" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                C
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="return" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                <==
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="porc" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                %
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="div" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                /
            </h1>
        </button>
    </div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="7" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                7
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="8" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                8
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="9" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                9
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="X" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                *
            </h1>
        </button>
    </div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="4" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                4
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="5" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                5
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="6" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                6
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="sub" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                -
            </h1>
        </button>
    </div>
</div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="1" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                1
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="2" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                2
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="3" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                3
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="adc" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                +
            </h1>
        </button>
    </div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-6 col-md-4">
        <button id="0" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                0
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="," class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                ,
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="res" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-3 mb-3">
                =
            </h1>
        </button>
    </div>
</div>

<script src="calculadora/controller/calculadora.js"></script>