<div class="row mt-5 justify-content-center">
    <div class="col-12 col-md-8">
        <div class="alert alert-info">
            <input type="text" name="" value="" id="display">
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="C" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                C
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="return" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                <==
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="porc" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                %
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="div" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                /
            </h1>
        </button>
    </div>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="7" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                7
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="8" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                8
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="9" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                9
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="x" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                *
            </h1>
        </button>
    </div>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="4" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                4
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="5" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                5
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="6" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                6
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="-" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                -
            </h1>
        </button>
    </div>
</div>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-3 col-md-2">
        <button id="1" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                1
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="2" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                2
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="3" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                3
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="adc" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                +
            </h1>
        </button>
    </div>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-6 col-md-4">
        <button id="0" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                0
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="," class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                ,
            </h1>
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button id="=" class="btn btn-outline-info btn-block btn-lg">
            <h1 class="text-center mt-2 mt-md-4 mb-2 mb-md-4">
                =
            </h1>
        </button>
    </div>
</div>

<script src="calculadora/controller/calculadora2.js"></script>